<!DOCTYPE html>
<html>
<head>
    <title>Download File</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html">Upload</a></li>
      <li><a href="download.html">Download</a></li>
      <li><a href="login.html">Logout</a></li>
    </ul>
  </nav>

  <table id="file-table">
    <caption>File List</caption>
    <thead>
      <tr>
        <th>File Name</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody id="file-body">
    </tbody>
  </table>
  <p id="downloadMsg"></p>

  <script src="../renderer/download.js"></script>
</body>
</html>
