<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html">Upload</a></li>
      <li><a href="download.html">FileList</a></li>
      <li><a href="Login.html">Logout</a></li> 
    </ul>
  </nav>

  <h1 id="welcome"></h1>
  <div id="upload-section">
    <h2>Upload a File</h2>
    <form id="uploadForm">
      <input type="file" id="fileInput" name="file" required />
      <button type="submit">Upload</button>
    </form>
    <p id="uploadMsg"></p>
  </div>

  <script src="../renderer/upload.js"></script>

</body>
</html>
