<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 80vh;">
    <h1>Login Page</h1>
    <form id="loginForm" style="display: flex; flex-direction: column; align-items: center;">
      <input type="text" id="email" placeholder="Email" required style="margin-bottom: 10px;" /><br>
      <input type="password" id="password" placeholder="Password" required style="margin-bottom: 10px;" /><br>
      <button type="submit">Login</button>
    </form>
    <button onclick="goToRegister()" style="margin-top: 10px;">Go to Register</button>
    <p id="message"></p>
  </div>

  <script>
    function goToRegister() {
        window.location.href = "register.html";
    }

    document.getElementById("loginForm").addEventListener("submit", async (e) => {
        e.preventDefault();
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const result = await window.electronAPI.login(email, password);
        
        const msg = document.getElementById("message");
      
        if (result.success) {
          sessionStorage.setItem('email', result.email);
          sessionStorage.setItem('apiBaseUrl', result.apiBaseUrl);
          msg.innerHTML = "OTP sent! Redirecting to OTP page...";
          msg.style.color = "green";
          setTimeout(() => {
            window.location.href = "otp.html";
          }, 2000);
        } else {
          msg.innerHTML = result.error || "Login failed!";
          msg.style.color = "red";
        }
      });
  </script>
</body>
</html>
