<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Verification</title>
</head>
<body>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh; position: relative;">
    <h1>Enter OTP</h1>
    <h2 id="otpUsername"></h2>
    <form id="otpForm" style="display: flex; flex-direction: column; align-items: center;">
      <input type="text" id="otp" name="otp" maxlength="6" required style="margin-bottom: 12px;"/>
      <button type="submit">Verify OTP</button>
    </form>
    <button id="topRightBtn" style="position: absolute; top: 16px; right: 16px;">Back to Login</button>
    <p id="otpMsg"></p>
  </div>

  <script >
    document.getElementById('topRightBtn').onclick = function() {
      window.location.href = "login.html";
    };

    const apiBaseUrl = sessionStorage.getItem('apiBaseUrl');
    const email = sessionStorage.getItem('email');

    document.getElementById('otpUsername').innerText = `OTP already sent to ${email}`;

    document.getElementById('otpForm').addEventListener('submit', async function(event) {
        event.preventDefault(); 

        const otp = document.getElementById('otp').value;
        console.log(email, otp);

        try {
            const result = await window.electronAPI.otp(email, otp);
            const msg = document.getElementById('otpMsg');
            if (result.success) {
                sessionStorage.setItem('sid', result.sid);
                msg.innerHTML = "OTP verified! Login...";
                msg.style.color = "green";
                setTimeout(() => {
                    window.location.href = "index.html";
                }, 2000);
            } else {
                msg.innerHTML = result.error || "OTP verification failed!";
                msg.style.color = "red";
            }
        } catch (err) {
            logger.error(err.message);
        }
    });

  </script>
</body>
</html>
