<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 80vh;">
    <h1>Register Page</h1>
    <form id="registerForm" style="display: flex; flex-direction: column; align-items: center;">
      <input type="text" id="email" placeholder="Email" required style="margin-bottom: 10px;"/><br>
      <input type="password" id="password" placeholder="Password" required style="margin-bottom: 10px;"/><br>
      <button type="submit" style="margin-bottom: 10px;">Register</button>
    </form>
    <button onclick="goToLogin()" style="margin-bottom: 10px;">Go to Login</button>
    <p id="message"></p>
  </div>

  <script>
    function goToLogin() {
        window.location.href = "login.html";
    }

    document.getElementById("registerForm").addEventListener("submit", async (e) => {
        e.preventDefault();
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const result = await window.electronAPI.register(email, password);
        
        const msg = document.getElementById("message");
      
        if (result.success) {
          sessionStorage.setItem('email', result.email);
          sessionStorage.setItem('apiBaseUrl', result.apiBaseUrl);
          msg.innerHTML = "OTP sent! Redirecting to OTP page...";
          msg.style.color = "green";
          setTimeout(() => {
            window.location.href = "otp-register.html";
          }, 2000);
        } else {
          msg.innerHTML = result.error || "Register failed!";
          msg.style.color = "red";
        }
      });
  </script>
</body>
</html>
