<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>
  <h1>Register Page</h1>
  <form id = "registerForm">
    <input type="text" id="email" placeholder="Email" required /><br>
    <input type="password" id="password" placeholder="Password" required /><br>
    <button type="submit">Register</button>
  </form>
  <button onclick="goToLogin()">Go to Login</button>

  <p id="message"> </p>

  <script>
    function goToLogin() {
        window.location.href = "login.html";
    }

    document.getElementById("registerForm").addEventListener("submit", async (e) => {
        e.preventDefault();
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const result = await window.electronAPI.register(email, password);
        
        const msg = document.getElementById("message");
      
        if (result.success) {
          sessionStorage.setItem('email', result.email);
          sessionStorage.setItem('apiBaseUrl', result.apiBaseUrl);
          msg.innerHTML = "OTP sent! Redirecting to OTP page...";
          msg.style.color = "green";
          setTimeout(() => {
            window.location.href = "otp-register.html";
          }, 2000);
        } else {
          msg.innerHTML = result.error || "Register failed!";
          msg.style.color = "red";
        }
      });
  </script>
</body>
</html>
